<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Recipe Book - Add</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<h1>Add a New Recipe</h1>
		<div>
			<form th:object="${recipe}" th:action="@{save}" method="post">
				<div class="form-group">
					<label for="name">Name</label> <input type="text" id="name"
						th:field="*{name}" class="form-control">
					<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
				</div>
				<div class="form-group">
					<label for="ingredients">Ingredients</label> <input type="text"
						id="ingredients" th:field="*{ingredients}" class="form-control">
					<div th:if="${#fields.hasErrors('ingredients')}"
						th:errors="*{ingredients}">Error</div>
				</div>
				<div class="form-group">
					<label for="instructions">Instructions</label> <input type="text"
						id="instructions" th:field="*{instructions}" class="form-control">
					<div th:if="${#fields.hasErrors('instructions')}"
						th:errors="*{instructions}">Error</div>
				</div>
				<div class="form-group">
					<label for="categories">Category</label> <select id="categories"
						th:field="*{category}" class="form-control">
						<option th:each="category: ${categories}"
							th:value="${category.id}" th:text="${category.name}"></option>
					</select>
				</div>
				<div>
					<br /> <input type="submit" value="Tallenna"
						class="btn btn-success"></input>
				</div>
			</form>
		</div>
	</div>
</body>