<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<title>Recipe Book - Favourites</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<form th:action="@{/logout}" method="post">
			<h6>
				Current user: <span sec:authentication="name"></span> <input
					type="submit" value="Logout" class="btn btn-secondary" />
			</h6>
		</form>
		<h2>Favourite recipes</h2>
		<table class="table table-striped">
			<tr>
				<th>Recipe</th>
				<th>Category</th>

			</tr>
			<tr th:each="recipe : ${likedRecipes}">
				<td><a th:href="@{~/recipe/{id}(id=${recipe.id})}"><span
						th:text="${recipe.name}"></span></a></td>
				<td th:text="${recipe?.category?.name}?:''"></td>
			</tr>
		</table>
	</div>
</body>