<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Recipe Book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container" th:object="${recipe}">
		<form th:action="@{/logout}" method="post">
			<h6>
				Current user: <span sec:authentication="name"></span> <input
					type="submit" value="Logout" class="btn btn-secondary" />
			</h6>
		</form>
		<h2 th:text="*{{name}}"></h2>
		<p th:text="*{{category.name}}"></p>
		<a th:href="@{~/recipelist}" class="btn btn-info">Recipes</a>
		<form th:object="${recipe}"
			th:action="@{/addfavourite/{username}(username=${#authentication.name})}"
			method="post">
			<input type="hidden" id="id" th:field="*{id}" /> 
			<input type="submit" value="Add to Favourites" class="btn btn-info" />
		</form>
		<h4>Ingredients</h4>
		<p th:text="*{{ingredients}}"></p>
		<h4>Instructions</h4>
		<p th:text="*{{instructions}}"></p>
	</div>
</body>